<div class="mw-100">
  <h4>Setting Panel</h4>
  Bot Numbers: {{ chartParam.length }}
  <button class='btn btn-outline-secondary btn-sm' [disabled]="chartParam.length > 4" (click)="onPlusClick()">
    <fa name="plus"></fa>
  </button>
  <button class='btn btn-outline-secondary btn-sm' [disabled]="chartParam.length < 2" (click)="onMinusClick()">
    <fa name="minus"></fa>
  </button>
  <hr>
  <!-- repeat zone -->
  <div *ngFor="let param of chartParam">
    <label>
      <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="param.name">
    </label>
    <label>
      <input type="number" class="form-control" placeholder="Initial Asset" min="10000" max="100000" step="5000"
        [(ngModel)]="param.cash">
    </label>
    <div class="custom-slider">
      <ng5-slider [(value)]="param.minValue" [(highValue)]="param.maxValue" [options]="option"></ng5-slider>
    </div>
  </div>
  <!-- end of repeat -->
  <div>
    <button class='btn btn-primary' (click)="onStartClick()">
      Start
    </button>
    <button class='btn btn-secondary' (click)="onResetClick()">
      Reset
    </button>

  </div>
</div>