<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Practice Project</a>
  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <a class="nav-link">
          Home
        </a>
      </li>
      <li routerLink="pfe" routerLinkActive="active" class="nav-item">
        <a class="nav-link">
          New Profile
        </a>
      </li>
      <li routerLink="output" routerLinkActive="active" class="nav-item">
        <a class="nav-link">
          All Profile
        </a>
      </li>
    </ul>
  </div>
</nav>